.faq {
    &__accordion {
        margin-top: 0.5em !important;
        border-radius: 10px !important;
        background-color: rgba(62, 105, 87, 0.5) !important;
    }
}

.MuiAccordionSummary-root {
    margin-top: 0.5em !important;
    border-radius: 10px !important;
    background-color: #3E6957 !important;
}
