body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F0EBDE;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

@font-face {
    font-family: "GT-Planar";
    src: url("./fonts/GT-Planar/GT-Planar-Bold.woff2") format("woff2"),
        url("./fonts/GT-Planar/GT-Planar-Bold.woff") format("woff"),
        url("./fonts/GT-Planar/GT-Planar-Bold.ttf") format("truetype");
}


@font-face {
  font-family: "GT-Planar-Regular";
  src: url("./fonts/GT-Planar/GT-Planar-Regular.woff2") format("woff2"),
      url("./fonts/GT-Planar/GT-Planar-Regular.woff") format("woff"),
      url("./fonts/GT-Planar/GT-Planar-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Avenir-Next-Regular";
    src: url("./fonts/Avenir-Next/AvenirNext-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Avenir-Next";
    src: url("./fonts/Avenir-Next/AvenirNext-Bold.otf") format("opentype");
}

a {
    color: brown;
    text-decoration: none;
    border-bottom: 1px dotted;
}

a:hover {
    color: burlywood;
}